@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #eb3349;
    color: #000000;
}
.image img{
    height: 150px;
    width: 150px;
    padding:10px;
     
}
.login-container{
    
    height: 100vh;
    width: 100%;    
}
.login-form{
    background-color: #fff;
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin:0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 5px rgba(47, 47, 47, 0.25);
}
.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.form-control:focus{
    border-color: rgb(206, 14, 17);
    box-shadow: 0 0 0 0.2rem rgba(107, 3, 3, 0.25);
}
.forgot-link{
    font-size: 13px;
}
.forgot-link label{
    margin-bottom: 0;
}
.login-form a{
    text-decoration: none;
    color: #000000;
}
.login-form a:hover{
    color: #c31117;
}
.btn-custom{
    background:#c31117;
    border-color: #c31117;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: #670407;
    border-color: #670407;
    color: #fff;
}
.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(107, 3, 3, 0.25);
}